.container {
  margin-bottom: 3rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(71, 71, 71);
  }
}

.line-through {
  text-decoration: line-through;
}
