.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  .addTask {
    background-color: transparent;
    padding: 0;
    width: 100%;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    p {
      margin-bottom: 0.4rem;
    }
  }
}
